@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




#msg-box1-7 B {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-n .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-align: center;
}
#msg-box3-n .lead P {
  color: #ffffff;
}
#msg-box3-n .btn {
  font-family: 'Montserrat', sans-serif;
}
#features1-x .btn {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-9 .navbar-toggler {
  color: #000000;
}
#menu-l .navbar-toggler {
  color: #000;
}



#dropdown-menu-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-z .nav .link,
#dropdown-menu-z .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-z .navbar,
#dropdown-menu-z .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-z .dropdown-menu a:hover,
#dropdown-menu-z .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-z .navbar-toggler {
  color: #000000;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-11 H2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#msg-box2-12 H2 {
  font-size: 30px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  text-align: right;
}
#msg-box1-13 H2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: right;
}
#msg-box1-13 B {
  color: #ffffff;
}



#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-17 .navbar-toggler {
  color: #000000;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-19 H2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#msg-box1-19 B {
  color: #ffffff;
}
#msg-box2-1a H2 {
  font-size: 30px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box2-1a B {
  color: #ffffff;
}
#msg-box1-1b H2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: right;
}
#msg-box1-1b B {
  color: #ffffff;
}
